body {
  padding-top: 50px;
  text-align: justify;
  width: 100%;  
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.flashkey {
	text-align: center;
background: #e6f0a3; /* Old browsers */
background: -moz-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */
}

nav{
    background-color : red; 
}

.pstats
{
  text-align:justify;
}

#canvas-holder
{
 width: 15%;   
}


.blockquote-reverse
{
    font-size: 16px;
    text-align: justify;
}