{% extends "base.twig.html" %}
{% block title %} Register{% endblock %}
{% block content %}
<h1>Register</h1>


  {% if message is defined %}
  <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
    {{ message }}
    </div>
{% endif %}



<p>
<form action="{{ app.request.basepath }}/index.php/register" method="post">
    <div class="form-group">
            {{ form_errors(form) }}
            {{ form_row(form.email, {'attr' : {'class' : 'form-control', 'type' : 'password'}, 'label' : 'Email address' } )  }}
            {{ form_row(form.password.first, {'attr' : {'class' : 'form-control'}, 'label' : 'Password' } )  }}
            {{ form_row(form.password.second, {'attr' : {'class' : 'form-control'}, 'label' : 'Repeat Password' } )  }}
            {{ form_rest(form) }}
    </div>
    <button id="submit" type="submit" class="btn btn-default">Submit</button>
</form>
</p>

{% endblock %}
